.about {
  margin: 0 0 100px 0;

  & .container {
    background-image: url("../img/2022.png");
    background-position: 40px top;
    background-repeat: no-repeat;
    min-height: 320px;
    padding: 0 40px 0 290px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/2022@2x.png");
      background-size: 150px auto;
    }
  }

  & h2 {
    font-family: $ff-RobotoCondensed;
    font-size: 36px;
    line-height: 50.63px;
    margin: 0 0 15px 0;
  }

  & p {
    line-height: 21.5px;
    margin: 0 0 40px 0;
  }

  & p:nth-child(n+3) {
    display: none;
  }

  & p:nth-child(n+3).is-open {
    display: block;
  }

  &__button {
    font-family: $ff-RobotoCondensed;
    font-weight: 700;
    color: $color-deep-sky-blue;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    padding: 14px 13px 13px 12px;
    border-radius: 3px;
    border: 1px solid $color-deep-sky-blue;
    display: block;
    background-color: $color-transparent;
    text-align: center;
    width: 180px;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }
  }
}

@include vp-1023 {
  .about {
    margin: 0 0 80px 0;

    & .container {
      min-height: 380px;
      padding: 0 50px 0 225px;
      background-position: 45px top;
    }

    & h2 {
      font-family: $ff-RobotoCondensed;
      font-size: 36px;
      line-height: 50.63px;
      margin: 0 0 9px 0;
    }

    & p {
      line-height: 21.5px;
      margin: 0 0 17px 0;
    }
  }
}

@include vp-767 {
  .about {
    margin: 0 0 80px 0;

    & .container {
      background-image: none;
      min-height: 305px;
      padding: 0 25px;
    }

    & h2 {
      font-family: $ff-RobotoCondensed;
      font-weight: 400;
      font-size: 28px;
      line-height: 39.38px;
      margin: 0 0 12px 0;
    }

    & p {
      font-size: 14px;
      line-height: 18.82px;
      margin: 0 0 16px 0;
    }

    &__button {
      line-height: 16.41px;
      padding: 8px 15px 8px 15px;
      width: 160px;
    }
  }
}
