.feedback {
  background-color: $color-deep-sky-blue;

  & .container {
    width: 1920px;
    padding: 165px 0 250px 0;
    background-image: url("../img/polygon.png");
    background-repeat: no-repeat;
    background-position: 0 -75px;
    color: $color-default-white;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/polygon@2x.png");
      background-size: 1920px auto;
    }
  }

  &__form {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    margin: 0 auto;
    width: 1220px;
    min-height: 420px;
    padding: 0 15px 0 625px;
    background-image: url("../img/airplane.png");
    background-repeat: no-repeat;
    background-position: 0 80px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/airplane@2x.png");
      background-size: 1920px auto;
    }

    & h2 {
      display: block;
      font-family: $ff-RobotoCondensed;
      font-weight: 400;
      font-size: 36px;
      line-height: 50.63px;
      min-width: 580px;
      margin: 0 0 12px 0;
    }

    & p {
      display: block;
      min-width: 580px;
      margin: 0 0 35px 0;
    }
  }

  &__fieldset {
    border: none;
    margin: 0;
    padding: 0;

    & input {
      width: 275px;
      height: 50px;
      border: none;
      border-radius: 3px;
      background-color: rgba(4, 20, 39, 0.15);
      padding: 15px;
      margin: 0 0 20px 0;

      &::-webkit-input-placeholder {
        color: $color-default-white;
      }

      &::-moz-placeholder {
        color: $color-default-white;
      }/* Firefox 19+ */
      &:-moz-placeholder {
        color: $color-default-white;
      }/* Firefox 18- */
      &:-ms-input-placeholder {
        color: $color-default-white;
      }
    }

    & textarea {
      display: block;
      width: 580px;
      height: 155px;
      border: none;
      border-radius: 3px;
      background-color: rgba(4, 20, 39, 0.15);
      padding: 25px 15px 15px 15px;
      margin: 0 0 35px 0;

      &::-webkit-input-placeholder {
        color: $color-default-white;
      }

      &::-moz-placeholder {
        color: $color-default-white;
      }/* Firefox 19+ */
      &:-moz-placeholder {
        color: $color-default-white;
      }/* Firefox 18- */
      &:-ms-input-placeholder {
        color: $color-default-white;
      }
    }
  }

  &__button {
    font-family: $ff-RobotoCondensed;
    font-weight: 700;
    line-height: 18.75px;
    letter-spacing: 0.05em;
    text-align: center;
    color: $color-default-white;
    background-color: $color-black-pearl-2;
    width: 265px;
    height: max-content;
    border: none;
    border-radius: 3px;
    padding: 15px 25px 11px 25px;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }

  &__approval {
    display: flex;
    padding: 14px 0 0 0;
    word-wrap: break-word;
    width: 265px;
    align-items: center;

    & input[type="checkbox"] {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      padding: 0;
      overflow: hidden;
      white-space: nowrap;
      border: 0;
      clip: rect(0 0 0 0);
      clip-path: inset(100%);
    }

    & span {
      font-size: 14px;
      line-height: 15.68px;
      display: block;
      width: 244.96px;
      padding: 0 0 0 10.96px;
      opacity: 0.8;
    }

    & span.error {
      color: $color-torch-red;
    }

    & .feedback__approval-control {
      position: relative;
      width: 15px;
      height: 15px;
      border: 1px solid $color-default-white;
      border-radius: 3px;
      cursor: pointer;
    }

    & input[type="checkbox"]:checked + .feedback__approval-control::after {
      position: absolute;
      content: "";
      top: 3px;
      left: 2px;
      width: 9px;
      height: 6px;
      background-image: url("../img/svg/mark.svg");
    }
  }
}

@include vp-1023 {
  .feedback {
    & .container {
      width: 770px;
      background-image: none;
      padding: 45px 50px 115px 50px;
    }

    &__form {
      width: 670px;
      min-height: 420px;
      padding: 0;
      background-image: none;

      & h2 {
        min-width: 550px;
        margin: 0 0 7px 0;
      }

      & p {
        min-width: 550px;
        margin: 0 0 25px 0;
      }
    }

    &__fieldset {
      & input {
        width: 320px;
      }

      & textarea {
        width: 670px;
        padding: 33px 15px 15px 15px;
      }
    }

    &__approval {
      padding: 10px 0 0 0;
      margin: 0 50px 0 0;
    }
  }
}

@include vp-767 {
  .feedback {
    & .container {
      width: 320px;
      padding: 50px 25px 90px 25px;
    }

    &__form {
      width: 270px;
      min-height: 610px;

      & h2 {
        font-size: 30px;
        line-height: 42.19px;
        min-width: 270px;
        margin: 0 0 6px 0;
      }

      & p {
        font-size: 14px;
        line-height: 18.82px;
        min-width: 270px;
        margin: 0 0 30px 0;
      }
    }

    &__fieldset {
      & input {
        width: 270px;
      }

      & textarea {
        width: 270px;
        height: 180px;
        padding: 28px 15px 15px 15px;
      }
    }

    &__button {
      width: 270px;
      margin: 0 0 25px 0;
    }

    &__approval {
      padding: 0 0 0 5px;
      margin: 0 auto 0 auto;
    }
  }
}
