.header {
  background: linear-gradient(180deg, $color-black-pearl 85%, $color-transparent 100%);
  position: fixed;
  width: 100%;
  z-index: 2;

  .container {
    display: flex;
    justify-content: space-between;
    padding: 30px 102px 35px 40px;
    align-items: center;
  }

  &__logo {
    display: block;
    width: 215px;
    height: 55px;
  }

  &__links-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: 485px;
    max-width: 500px;
    padding: 0 4px 6px 0;
    margin: 0;
  }

  &__link {
    width: min-content;
    display: flex;
    height: min-content;
    align-items: center;
  }

  &__link-svg {
    fill: $color-deep-sky-blue;
    display: block;
  }

  &__link-icon {
    display: block;
    width: 40px;
    height: 40px;
    padding: 10px;
  }

  &__link-icon + span {
    display: block;
    min-width: max-content;
    line-height: 18px;
    padding: 0 10px 0 5px;
  }

  &__button {
    font-family: $ff-RobotoCondensed;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.06em;
    text-align: center;
    padding: 10px 16px 10px 17px;
    margin: -5px 0 0 0;
    border-radius: 3px;
    border: 1px solid $color-alice-blue;
    display: block;
  }
}

@include vp-1023 {
  .header {
    position: absolute;
    .container {
      padding: 20px 50px 25px 50px;
    }

    &__logo {
      margin: 0 auto 0 0;
    }

    &__links-list {
      max-width: 200px;
      min-width: 100px;
      padding: 0 0 3px 0;
    }

    &__links-item {
      min-width: min-content;
    }

    &__link {
      width: min-content;
      margin: -11px 20px 0 0;
    }

    &__link-icon + span {
      display: none;
    }

    &__button {
      display: none;
    }
  }
}

@include vp-767 {
  .header {
    .container {
      padding: 16px 15px 20px 26px;
    }

    &__logo {
      width: 35px;
      height: 35px;
      margin: 0 auto 0 0;
    }
  }
}
